#sidebar{
    font-family: "Impact";
    font-size: 1.4vw;
}

#navbar.nav{
    height: 100vh;
}

ul{
    background-color: black;
    position: fixed;
    z-index: 1;
    left: 0;
    top: auto;
    bottom: auto;
    width: 20%;
    height: 100vh;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.active{
    color: white !important;
}

.nav-link{
    color: gray;
    margin: 40px;

}

@media screen and (max-width: 768px){
    #sidebar{
        font-family: "Impact";
        font-size: 14px;
    }

    ul{
        width: 100%;
        height: auto;
        position: absolute;
    }

    ul a{
        float: left;
    }

    .nav-link{
        margin: 20px;
    }
}

@media screen and (max-width: 600px){
    #sidebar{
        font-family: "Impact";
        font-size: 12px;
    }

    ul{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    ul a{
        float: none;
    }

    .nav-link{
        margin: 5px;
    }
}

.delay-1 {
    animation-delay: 3s;
    }
.delay-2 {
    animation-delay: 3.25s;
    }
.delay-3 {
    animation-delay: 3.5s;
    }
.delay-4 {
    animation-delay: 3.75s;
    }



